.Input_Prev_Password {
  width: 200px;
  height: 40px;
  border-radius: 0;
  outline: none;
  color: #0e88fa;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s ease;
  text-align: center;
}

.Input_Prev_Password:focus {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: white;
  transition: 0.5s ease;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.Validate_Modif_Password {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: rgba(51, 51, 51, 0.8);
  color: white;
  transition: 0.5s ease;
}
.Validate_Modif_Password:hover {
  background: white;
  color: rgba(51, 51, 51, 0.8);
  transform: scale(1.1);
}

.Annul_Modif_Password {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: red;
  color: white;
  transition: 0.5s ease;
}

.Annul_Modif_Password:hover {
  background: white;
  border: 1px solid red;
  color: red;
  transform: scale(1.1);
}
