.avatar-choice-container {
  font-size: 14px;
  display: flex;
  justify-content: center;
  line-height: 25px;
  margin-bottom: 0px;
  padding: 55px 15px 0px 15px;
  height: auto;
  margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.avatar-button {
  margin: 10px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Avatar_Display {
  display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}
.Avatar_Row {
  margin: 10px;
  width: 150px;
  height: 150px;
  border: none;
  transition: 0.5s ease;
}
.Avatar_Row:hover {
  transform: scale(1.2);
}
.Avatar_Row:focus {
  border: 2px solid white;
}
.AvatarChoise{
  background: transparent;
  border: none;
}
.AvatarChoise:focus{
  border: 2px solid white;
}
.Validate_Modif_Avatar {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #0e88fa;

  transition: 0.5s ease;
}
.Validate_Modif_Avatar:hover {
  background: white;
  border: 1px solid #0e88fa;
  color: #0e88fa;
  transform: scale(1.1);
}
.Validate_Modif_Avatar:focus {
  border: 2px solid white;
}

 .closeAvatar{
   background: transparent;
   border: none;
   margin-bottom: 400px;
 }
 .closeAvatar:focus{
  border: 2px solid white;
}

@media screen and (max-width: 1255px) {
  .Avatar_Display {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
    overflow-x: none;
    margin-right: auto;
    margin-left: auto;
  }
  .avatar-choice-container {
    overflow-x: none;
  }
  .closeAvatar{
    background: transparent;
    border: none;
    margin-bottom: 700px;
  }
}

@media screen and (max-width: 800px) {
  .Avatar_Display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow-x: none;
    margin-right: auto;
    margin-left: auto;
  }
  .avatar-choice-container {
    overflow-x: none;
  }
  .closeAvatar{
    background: transparent;
    border: none;
    margin-bottom: 900px;
  }
}
@media screen and (max-width: 640px) {
  .Avatar_Display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow-x: none;
    margin-right: auto;
    margin-left: auto;
  }
  .avatar-choice-container {
    overflow-x: none;
  }
  .closeAvatar{
    background: transparent;
    border: none;
    margin-bottom: 900px;
  }
}

/* reprendre ici */
