.avatar-choice-container {
  font-size: 14px;

  line-height: 25px;
  margin-bottom: 0px;
  padding: 15px 15px 0px 15px;
  height: 400px;
  overflow-y: scroll;
  text-align: justify;
}

.avatar-button {
  margin: 10px;
}

.Validate_Modif_Avatar{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #0E88FA;
  color: white;
  transition: 0.5s ease;
  margin-left: 5px;
}
.Validate_Modif_Avatar:hover{
  background: white;
  border: 1px solid #0E88FA;
  color: #0E88FA;
  transform: scale(1.1);
}