.users-profil-big-container {
  padding: 10px;
  border: 1px solid #dcdcde;
  margin: 10px 0 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  width: 50%;
  border-radius: 15px;
  align-items:flex-end;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.users-profil-infos {
  margin: 20px 0 15px 20px;
}

.users-avatar {
  display: flex;
  align-items: center;
}
.other-user-pseudo {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.other-user-bio {
  margin-top: 10px;
  margin-bottom: 10px;
}

.users-buttons-container {
  display: flex;
 margin-right: auto;
 margin-left: auto;
  margin: 0 15px 15px auto;
}

.users-button-be-admin {
  margin-right: 15px;
}

.message-other-user-card-container {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
margin-right: auto;
margin-left: auto;
  
}

.message-other-user-card {
  
  border: 1px solid #dcdcde;
  margin: 10px 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
margin-right: auto;
margin-left: auto;
padding: 10px;
width: 50%;

  border-radius: 15px;
}

.Button_Droits_Other_Profil{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #0E88FA;
  color: white;
  transition: 0.5s ease;
  
}

.Button_Droits_Other_Profil:hover{
  background: white;
  border: 1px solid #0E88FA;
  color: #0E88FA;
  transform: scale(1.1);
}

.Button_Delete_Profil_Other_Profil{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: red;
  color: white;
  transition: 0.5s ease;
}
.Button_Delete_Profil_Other_Profil:hover{
  background: white;
  border: 1px solid red;
  color: red;
  transform: scale(1.1);
}




@media screen and (max-width: 1255px) {
  .message-other-user-card-container {
    margin: auto;
    width: 95%;
  }
  .message-other-user-card {
    width: 95%;
  }
  .users-profil-big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .message-other-user-card-container {
    margin: auto;
    width: 95%;
  }
  .message-other-user-card {
    width: 95%;
  }
  .users-profil-big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .users-profil-big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .message-other-user-card-container {
    margin: auto;
    width: 95%;
  }
  .message-other-user-card {
    width: 95%;
  }
}
