@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.user-profil-big-container {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  width: 20%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin:20px;
  margin-top: 25px;
  padding: 10px;
  position:absolute;
  display: flex;
  color:white;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.Profil_Section {
  font-size: 20px;
  font-family: "Roboto", sans-serif;

}

.button_modifbio {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: rgba(51, 51, 51, 0.8);
  color: white;
  transition: 0.5s ease;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_modifbio:hover {
  background: white;
  /* border: 1px solid #0e88fa; */
  color: rgba(51, 51, 51, 0.8);
  transform: scale(1.1);
}

.Input_textarea_bio {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(196, 188, 189, 0.25);
  width: 20em;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  transition: 0.5s ease;
}
.Input_textarea_bio:focus {
  border: 2px solid rgba(51, 51, 51, 0.8);
}


.Pseudo_Button_Section {
  width: auto;
  background: rgba(255, 255, 255, 0.3);
  height: 30px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  padding-top: 7px;
}


.message-is-admin{
  text-align: center;
  margin-top: 10px;
}

.user-email {
  word-break: break-all;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.text_section{
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
}

.user-name {
  word-break: break-all;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}







.user-profil-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  /* color: #FFFFFF; */
}

.user-profil-container {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-evenly;
  margin-right: 50px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-picture {
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.user-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
}

.user-button-modify-avatar {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.delete_profil {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: red;
  
  transition: 0.5s ease;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete_profil:hover {
  background: white;
  border: 1px solid red;
  color: red;
  transform: scale(1.1);
}




.modify-icon-profil {
  cursor: pointer;
  margin-bottom: 10px;
}

.user-description-container {
  display: flex;
  flex-direction: row;
}

.user-description-input {
  margin-right: 10px;
}

.Rounded_Linear{
  width: 210px;
  height: 210px;
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  margin-top: -1px;
  position: absolute;
  z-index: -100;
  border-radius: 150px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.img_upload {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -25px;
  margin-top: 5px;
  width: 200px;
}
.img_upload_circle {
  width: 45px;
  height: 45px;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 30px;
  border: 2px solid white;
  z-index: 10;
  margin-top: -25px;
  margin-left: 130px;
}

.img_upload_circle_plane {
  font-size: 25px;
  margin: 9px;
  color: white;
  transition: 0.5s ease;
}
.img_upload_circle_plane:hover {
  transform: scale(1.2);
}
.icons_profil {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  
}
.line_container_profil{
  width: 90%;
height: 1px;
background: #cacaca;
margin-right: auto;
margin-left: auto;
margin-top: 10px;
}
.roles_typo {
  font-size: 17px;
  color: black;
}

.red{
  width: 100px;
  height: 100px;
  background: red;
}

.input_psswd_modif {
  width: 200px;
  background: red !important;
}


@media screen and (max-width: 1255px) {
  .user-profil-container {
    display: flex;
    flex-direction: row;
  }
  .user-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .user-profil-big-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
  .delete_profil {
    background: red;
    border-radius: 15px;
    border: none;
    height: 30px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
  }
  .button_modifbio {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    transition: 0.5s ease;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .user-profil-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
  }
  .user-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .user-profil-big-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
  .delete_profil {
    background: red;
    border-radius: 15px;
    border: none;
    height: 30px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    display: flex;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
  }
  .button_modifbio {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    
    color: white;
    transition: 0.5s ease;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 640px) {
  .user-profil-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
  }
  .user-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .user-profil-big-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
  .delete_profil {
    background: red;
    border-radius: 15px;
    border: none;
    height: 30px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    display: flex;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
  }
  .button_modifbio {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    transition: 0.5s ease;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
