@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

.register-container {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  margin: 15px 20%;
  padding: 10px;
  margin-top: 40px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
textarea{
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  font-family: 'Outfit', sans-serif;
  resize : none;
}
 .Biographie {
  border: 2px solid rgba(196, 188, 189, 0.25);
   padding: 10px;
   border-radius: 5px;
   margin-right: 5px;
   color: rgba(51, 51, 51, 0.8);
 }
 .Biographie::placeholder {
  color: white;
  opacity: 50%;
 }
 .Biographie:focus {
  border: 2px solid rgba(51, 51, 51, 0.8);
 }
.Button_Inscription{
  width: 9em;
  height: 3em;
  border-radius: 5px;
  background: rgba(51, 51, 51, 0.8);
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.Button_Inscription:hover{
  transition: 0.3s ease;
 background: white;
 color: rgba(51, 51, 51, 0.8);
}
.register-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.register-input {
  margin-top: 15px;
}

.register-button {
  margin-top: 20px;
  margin-bottom: 10px;
}
.subtitle{
  text-align: center;
}
.circle_button2{
  display: flex;
  width: 80px;
  height: 80px;
  background: #0E88FA;
  border-radius: 50px;
  /* position: fixed; */
  margin-right: 60%;
  transition: 0.5s ease;
}
.circle_button2:hover{
  background: white;
  border: 1px solid #0E88FA;
}
@media screen and (max-width: 1259px) {
  .register-container {
    margin: 130px 10%;
    margin-top: 100px;
  }
}
@media screen and (max-width: 1035px) {
  .register-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 90%;

  }
  .logo_img{
    width: 80%;
}
}
@media screen and (max-width: 428px) {
  .register-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 250px;
    width: 90%;
  }
  .logo_img{
    width: 80%;
}
}
@media screen and (max-width: 228px) {
  .register-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 250px;
    width: 90%;
  }
  .logo_img{
    width: 80%;
}
}