.button_modif_comment_yes{
  width: 200px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: rgba(51, 51, 51, 0.8);
  color: white;
  transition: 0.5s ease;
}

.TransitionModale{
  transform: translate(0,100%);
  animation: 0.5s ease transi forwards;
}
@keyframes transi {
100%{
  transform: translate(0,0);
}  
}
.button_modif_comment_yes:hover{
    background: white;
  color: rgba(51, 51, 51, 0.8);
  transform: scale(1.1);
}
.button_modif_comment_yes:focus {
  border: 2px solid white
}
.button_modif_close_modale{
    color: #0E88FA;
    font-size: 20px;
    transition: 0.5s ease;
}
.button_modif_close_modale:hover{
    color: red;
    font-size: 20px;
    transform: scale(1.2);
}
.close{
  background:transparent;  
  border: none; 
 }
 .close:focus{
  background:transparent;  
  border: 2px solid white ; 
 }
.input_modif_comment{
    width: 250px;
    height: 20px;
    border: none;
    display: flex;
    padding: 10px;
    border-radius: 0;
    transition: 1s ease;
    background: rgba(255, 255, 255, 0.3);
    color: white;
}
.input_modif_comment:focus{
 border-radius: 5px;
 border: 2px solid white;
}