@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

.post-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

.search-user-container {
  margin-bottom: 15px;
}

.message-card-container {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Outfit', sans-serif;
  margin-top: 30px;
}

.message-card {
  padding: 10px;

  background-color: white;
 border-radius: 10px;
 width: 50%;
 margin-right: auto;
 margin-left: auto;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


.avatar-name {
  font-weight: bold;
  color: black;
  cursor: pointer;
  width: 200px;
  height: 60px;
  z-index: -10;
}

.message-is-admin {
  font-style: italic;
}

.date{
  display: flex;
  justify-content: space-between;
  
}
.message-date {
  padding-bottom: 5px;
}

.line_container{
  border-bottom: 1px solid #CACACA;
  width: 100%;
  margin-top: 5px;
}





.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 10px;
  margin-bottom: 10px;
}

.message-title {
  font-weight: bold;
  word-break: break-all;
}

.picture-container {
  display: flex;
  border-radius: 30px;
  justify-content: center;
  padding: 15px;
}

.picture-container img{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}
.message-content {
  word-break: break-all;
  padding-bottom: 10px;
}



@media screen and (max-width: 1259px) {
  .message-card-container {
    margin-right: auto;
  margin-left: auto;
  
  }
  .message-card {
    margin-right: auto;
    margin-left: auto;
    width: 9%;
  }
}

@media screen and (max-width: 1035px) {
  .message-card-container {
    margin-right: auto;
  margin-left: auto;
  
  }
  .message-card {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
}

@media screen and (max-width: 428px) {
  .post-message-container {
    padding: 0;
  }
  .message-card-container {
    margin-right: auto;
    margin-left: auto;
    
  
  }
  .message-card {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
}

@media screen and (max-width: 228px) {
  .search-user-container {
    padding: 0;
  }
  .post-message-container {
    padding: 0;
  }
  .message-card-container {
    margin-right: auto;
    margin-left: auto;
    
  }
  .message-card {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
}
