@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.Users_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 20%;
  flex-flow: row wrap;
  height: 200px;
  padding: 10px;
  

  background: white;
  margin-left: 77%;
  position: fixed;
  margin-top: 50px;
}

.Users_search{
  border: none;
  background: #cacaca;
  opacity: 50%;
  border-radius: 30px;
  height: 30px;
  width: 250px;
  text-align: center;

}

.Seach_User_Icon{
  margin: 0px;
  padding:7px;
  position: absolute;
}

.form_avatar{
  width: 14em;
  height: 45px;
  color: black;
  border: #0E88FA;
  border-radius:50px;
  margin-right: 50px;
  

}
.test{
  width: 100%;
}
.text_users{
margin-bottom: 10px;
font-family: 'Roboto', sans-serif;
color: #8b8585;
}
.line-container_User_Card{
  width: auto;
  height: 1px;
  background: #cacaca;
  margin-bottom: 10px;
}
.User_Component {
  height: 600px;
  margin-left: auto;
  margin-left: 60px;
}
.input-users{
  position: fixed;
  margin-bottom: 280px;
}
@media screen and (max-width: 1255px) {
  .Users_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 0;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px!important;
  background: white;
  overflow-x: scroll;
  }
  .input-users{
    position: relative;
    margin-bottom: 0;
  }
  .text_users, .test, .line-container_User_Card{
    visibility: hidden;
    }
    .User_Component {
      height: auto;
    }

}
@media screen and (max-width: 800px) {
  .Users_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 0;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px!important;
  background: white;
  overflow-x: scroll;
  }
  .input-users{
    position: relative;
    margin-bottom: 0;
  }
  .text_users, .test, .line-container_User_Card{
    visibility: hidden;
    }
    .User_Component {
      height: auto;
    }

}
@media screen and (max-width: 640px) {
  .Users_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 0;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px!important;
  background: white;
  overflow-x: scroll;
  }
  .input-users{
    position: relative;
    margin-bottom: 0;
  }
  
  .text_users, .test, .line-container_User_Card{
    visibility: hidden;
    }
    .User_Component {
      height: auto;
    }
}
