@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

.login-container {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 130px 20%;
  margin-top: 130px;
  padding: 10px;
  font-family: 'Outfit', sans-serif;
  color: white;
  z-index: -100;
}
.testimg{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -40px;
}

.logo_img{
  object-fit: cover;
  width: 50%;
  height: 50%;
  margin-top: 10px;
}
.login-title {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.5em;
}

.login-input-email {
  margin-top: 20px;
}
input {
  background: transparent;
  border: none;
  outline:none;
  border: 2px solid rgba(196, 188, 189, 0.25);
  font-size: 15px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s ease;
  color: rgba(51, 51, 51, 0.8);
}
input:focus {
  border: 2px solid rgba(51, 51, 51, 0.8);
}
input::placeholder {
  color: white;
  opacity: 50%;
}
.Button_Connexion{
  width: 9em;
  height: 3em;
  border-radius: 5px;
  background: rgba(51, 51, 51, 0.8);
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.Button_Connexion:hover{
  transition: 0.3s ease;
 background: white;
 color:rgba(51, 51, 51, 0.8);
}

.Inscription{
  font-size: 15px;
  text-decoration: none;
  color: #0E88FA;
  transition: 0.5s ease;
}
.Inscription:hover {
  transform: scale(1.2);
}
.Icons{
  color: rgba(255, 255, 255, 0.3);
  margin: 0 10px;
  font-size: 20px;
}
.subtitle{
  font-style: italic;
  font-size: 18px;
}
.login-input-password {
  margin-top: 15px;
}

.login-button {
  margin: 20px 0 20px;
}

.circle_button{
  display: flex;
  width: 90px;
  height: 90px;
  background: #0E88FA;
  border-radius: 50px;
  /* position: fixed; */
  margin-left: 60%;
  transition: 0.5s ease;
}
.circle_button:hover{
  background: white;
  border: 1px solid #0E88FA;
}
.Icon_Circle_Button{
  color: white;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 50px;
}
.Icon_Circle_Button:hover{
  color: #0E88FA;
}
@media screen and (max-width: 1259px) {
  .login-container {
    margin: 130px 10%;
    margin-top: 180px;
  }
  .logo_img{
    width: 50%;
  }
}
@media screen and (max-width: 1035px) {
  .login-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 90%;
  }
  .logo_img{
    width: 80%;
  }
}
@media screen and (max-width: 628px) {
  .login-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 250px;
    width: 90%;
  }
  .logo_img{
    width: 80%;
  }
}
@media screen and (max-width: 228px) {
  .login-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 250px;
    width: 90%;
  }
  .logo_img{
    width: 80%;
  }
}
