.grpm-header {
  display: flex;
 
  
 
  background: #051724;
  position: fixed;
  width: 100%;
  z-index: 99;

  flex-direction: column;
    align-items: center;
    
    justify-content: unset;
}
.Button_Header{
  background: transparent;
  color: white;
  border: none;
  line-height: 30px;
}
.Button_Header:hover{
  border-bottom: 1px solid white;
}

.Button_Header:focus{
  border-bottom: 2px solid #0E88FA;
  
}

.Header_logo{
  font-size: 20px;
}
.grpm-logo_1 {
  margin-left: 20px;
  height: auto;
  width: 13em;
}
.img-logo-1 {
  height: auto;
  width: 100%;
  cursor: pointer;
}

.grpm-buttons-log-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.grpm-buttons-log-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.grpm-buttons-log-3 {
  display: none;
}


@media screen and (max-width: 640px) {
  .grpm-header {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
  .grpm-logo_1 {
    margin-left: 0;
    height: auto;
    width: 10em;
  }
  .grpm-buttons-log-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .grpm-buttons-log-2 {
    display: none;
  }
  .grpm-buttons-log-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .icon-button {
    margin-right: 0;
  }
}
